@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: rgb(132, 142, 247);
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin: 1;
    padding: 1;
}

div {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.numberguesses {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

input {
    width: 150px;
    text-align: center;
    font-size: 1.75rem;
    color: rgb(132, 142, 247);
}

.button {
    border: none;
    display: inline-block;
    background-color: rgb(5, 5, 106);
    color: white;
    padding: 12px;
    font-size: 18px;
}

@media screen and (max-width: 470px) {
    div {
        font-size: 15px;
        font-weight: 900;
    };

    image {
        width: 100px;
    }

    input {
        font-size: 12px;
    }
    .button {
        font-size: 14px;
    }
}
@media screen and (max-width: 280px) {
    div {
        font-size: 10px;
        font-weight: 900;
    };

    image {
        width: 50px;
    }
    input {
        font-size: 12px;
    }
    .button {
        font-size: 14px;
    }
}
